name: Build and Push Images
on:
  schedule:
    - cron: "0 14 * * 5"
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        alpine_version:
          - "3.20"
          - "3.21"
          - "3.22"
          - "3.23"
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: r35krag0th
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker's Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.alpine_version }}
          build-args: ALPINE_VERSION=${{ matrix.alpine_version }}
          platforms: linux/amd64,linux/arm64
